.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #4E0400;

    .admin-btn {
        background-color: transparent;
        width: 200px;
        height: 50px;
        margin: 15%;
        font-size: 0.7rem;
        border: 1px solid #FBBA72;
        color: #E8E4C7;
        border-radius: 20px;
        transition: ease-in-out 0.4s;
        cursor: pointer;

        &:hover{
            background-color: rgb(255, 191, 108, 0.2);
        }
    }

    .placeholder-text{
        margin: 5%;
        text-align: right;
    }
}
